{% extends '../../layout_base.html.twig' %}
{% block title %}Editar vehiculo {{ vehicle.number_plate }}{% endblock %}
{% block body %}
    <form class="row g-3" action="" method="post">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Matrícula</label>
            <input type="text" name="number_plate" class="form-control" id="validationDefault01" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Kilometraje</label>
            <input type="number" name="kms" class="form-control" id="validationDefault02" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Marca</label>
            <div class="input-group">
                <input list="markList" name="mark" class="form-control" id="modelList"  aria-describedby="inputGroupPrepend2" required>
                <datalist id="markList">
                    <option value="BMW"></option>
                    <option value="SEAT"></option>
                    <option value="SKODA"></option>
                    <option value="AUDI"></option>
                    <option value="RENAULT"></option>
                    <option value="KIA"></option>
                    <option value="MERCEDES-BENZ"></option>
                    <option value="LAND ROVER"></option>
                    <option value="LEXUS"></option>
                    <option value="MINI"></option>
                    <option value="NISSAN"></option>
                    <option value="OPEL"></option>
                    <option value="MAZDA"></option>
                    <option value="JEEP"></option>
                    <option value="ALFA ROMEO"></option>
                    <option value="LANCIA"></option>
                    <option value="CINTROEN"></option>
                    <option value="FORD"></option>
                    <option value="HONDA"></option>
                    <option value="DACIA"></option>
                    <option value="Volkswagen"></option>
                    <option value="SUBARU"></option>
                    <option value="SUZUKI"></option>
                    <option value="VOLVO"></option>
                    <option value="SMART"></option>
                    <option value="TOYOTA"></option>
                    <option value="MITSUBISHI"></option>
                    <option value="PEUGEOT"></option>
                    <option value="CHEVROLET"></option>
                    <option value="SSANGYONG"></option>
                </datalist>
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Modelo</label>
            <input name="model" class="form-control" id="modelList"  aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Titular</label>
            <select class="form-select" id="clients" name="client" multiple>
                <option value="{{ vehicle.clients.dni_nif }}" selected>{{ vehicle.clients.name }} {{ vehicles.clients.surname }}</option>
                {% for client in clients %}
                    <option value="{{ client.dni_nif }}">{{ client.name }} {{ client.surname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Añadir</button>
        </div>
    </form>
{% endblock %}