{% extends '../layout_base.html.twig' %}
{% block title %}Facturas{% endblock %}

{% block body %}
    <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th>Nº factura</th>
            <th>Fecha de entrada</th>
            <th>Fecha de salida</th>
            <th>Estado</th>
            <th>Pago</th>
            <th>Pagado</th>
            <th>Vehiculo</th>
        </tr>
        </thead>
        <tbody>
        {% for register in registers %}
            <tr>
                <td>{{ register.n_receipt }}</td>
                <td>{{ register.time_register }}</td>
                <td>{{ register.time_finished }}</td>
                <td>{{ register.stateFinish() }}</td>
                <td>{{ register.statePayment() }}</td>
                <td>{{ register.statePya() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/client/new"><button type="button" class="btn btn-outline-primary">Nueva Factura</button></a>

{% endblock %}