{% extends '../../layout_base.html.twig' %}
{% block title %}Editar vehiculo {{ vehicle.number_plate }}{% endblock %}
{% block body %}
    <form class="row g-3" action="" method="post">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Nombre</label>
            <input value="{{ client.name }}" type="text" name="name" class="form-control" id="validationDefault01" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Apellidos</label>
            <input value="{{ client.surname }}" type="text" name="surname" class="form-control" id="validationDefault02" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Dni/Nif</label>
            <input value="{{ client.dni_nif }}" type="text" name="dni_nif" class="form-control" id="validationDefault02" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Email</label>
            <input value="{{ client.email }}" name="email" type="text" class="form-control" id="modelList"  aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Teléfono 1</label>
            <input value="{{ client.phone_number1 }}" name="phone_number1" type="number" class="form-control" id="modelList"  aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Teléfono 2</label>
            <input value="{{ client.phone_number2 }}" name="phone_number2" type="number" class="form-control" id="modelList"  aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Vehiculos</label>
            <select class="form-select" id="vehicles" name="vehicle" multiple>
                {% for vehicle in client.vehicles %}
                    <option value="{{ vehicle.number_plate }}" selected>{{ vehicle.number_plate }} {{ vehicle.model }} {{ vehicle.mark }}</option>
                {% endfor %}
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle.number_plate }}">{{ vehicle.number_plate }} {{ vehicle.model }} {{ vehicle.mark }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Editar</button>
        </div>
    </form>
{% endblock %}